[Desktop Entry]
Type=Application
Name=Peach-GroundControl
GenericName=Ground Control Station
Comment=UAS ground control station
Icon=PLogoFull
Exec=peachgroundcontrol-start.sh
Terminal=false
Categories=Utility;
Name[en_US]=peachgroundcontrol.desktop
